#box {
    background-color: #1a1a1d;
    padding: 12px;
    height: 280px;
    width: 350px;
    box-shadow: 12px 12px 19px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 12px 12px 19px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 12px 12px 19px 0px rgba(0,0,0,0.5);
}




a:hover{
    opacity: 0.7;
}
#links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#links div {
    display: flex;
}

#desc{
    padding: 5px;
    line-height: 1.7;
}

.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.1rem;
    
}