#box {
    width: 350px;
    padding: 12px ;
}

a {
    color: black;
}

/* 
a:hover{

} */
#links{
    display:flex;
    justify-content:space-between;
}
#links div{
    display: flex;
}

ul {
    list-style: none;
    display: inline;
}

li {
    display: inline;
    padding:2px ;
}